{% extends "base.html" %}
{% block title %}
{{ super() }}
Home Page{% endblock %}
{% block content %}

    <div class="container-md border border-1 border-light">
        <div class="mt-4">
            <h2>Парсер вакансий по навыкам на hh.ru</h2>
        </div>
        <h4>Информация о парсере</h4><br>
        <p>Парсер осуществляет поиск по сайту hh.ru навыков и знаний которыми кандидату необходимо обладать при желании
            получить ту или иную работу. Например, при поиске по ключевой фразе <em>разработчик python</em>
            парсер выдаст общее количество вакансий в которых встречается это сочетание и список навыков, которые
            заявлены работодателем в вакансии.</p>
        <p>Поиск всегда осуществляется по ключевому слову или фразе. Навыки выводятся при каждом поиске.  </p>
        <p>В фильтрах есть дополнительные параметры поиска. Это регион и сферы деятельности, по которым сгруппированы
            все вакансии на hh.ru. При выборе искать 'везде' - поиск будет осуществляться по всем сферам деятельности.</p>
        <p>Парсер отсортирует все навыки, которые были найдены по ключевому слову во всех вакансиях по нисходящей
            от более востребованных к менее востребованным.</p>
    </div>
    <div class="container-md border border-1 border-light">
        <a href="/run/" class="btn btn-info" role="button">Начать поиск</a>
    </div>


{% endblock %}
