


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid" style="max-width:100%">
        <a class="navbar-brand" href="/" >
          <img src="{{url_for('static', filename='logo.svg')}}" alt="" width="50" height="38" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link" href="https://hh.ru/search/vacancy?text=&fromSearchLine=true&area=1"><b>hh.ru</b><img
                      src="{{url_for('static', filename='russia-hh-logo.png')}}" alt="" width="40" height="28"></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link " href="{{url_for('index')}}" aria-expanded="false">
                Главная</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link " href="{{url_for('contacts')}}" aria-expanded="false">
                Контакты</a>
            </li>

          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Поиск по сайту" aria-label="Поиск">
            <button class="btn btn-outline-success" type="submit">Найти</button>
          </form>
        </div>
      </div>
    </nav>
    <br>