


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid" style="max-width:100%">
        <a class="navbar-brand" href="/" >
          <img src="{{url_for('static', filename='images/logo.svg')}}" alt="" width="50" height="38" >
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link" href="https://hh.ru/search/vacancy?text=&fromSearchLine=true&area=1"><b>hh.ru</b><img
                      src="{{url_for('static', filename='images/russia-hh-logo.png')}}" alt="" width="40" height="28"></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link " href="{{url_for('index')}}" aria-expanded="false">
                Главная</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link " href="{{url_for('contacts')}}" aria-expanded="false">
                Обратная связь</a>
            </li>

          </ul>
          <div class="d-flex">
<!--            <button class="btn btn-outline-success" type="submit">Войти</button>-->
            <a href="/login/" class="btn btn-outline-success" role="button">Войти</a>
          </div>
        </div>
      </div>
    </nav>
    <br>